 <div class="user-details">
  <h1> Minhas Habilidades </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Linguagens e Ferramentas</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-trello-plain colored"></i>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-django-plain colored"></i>
      <i class="devicon-slack-plain colored"></i>
      <i class="devicon-linux-plain colored"></i>
    </div>
</div>
